<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.addenda.fp.rbac.mapper.ModuleMapper">
  <resultMap id="tModuleRm" type="cn.addenda.fp.rbac.pojo.entity.Module">
    <id property="id" column="id"/>
  </resultMap>

  <sql id="allFields">
    id, module_code, module_name, access_type, show_type, response_to_type, parent_id, action, status
  </sql>

  <insert id="insert">
    insert into t_module
    set id = #{id,jdbcType=BIGINT},
    module_code = #{moduleCode,jdbcType=VARCHAR},
    module_name = #{moduleName,jdbcType=VARCHAR},
    access_type = #{accessType,jdbcType=VARCHAR},
    show_type = #{showType,jdbcType=VARCHAR},
    response_to_type = #{responseToType,jdbcType=VARCHAR},
    parent_id = #{parentId,jdbcType=BIGINT},
    action = #{action,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR}
  </insert>

  <select id="moduleCodeExists" resultType="java.lang.Integer">
    SELECT 1
    FROM t_module
    WHERE module_code = #{moduleCode,jdbcType=VARCHAR}
    limit 1
  </select>

  <select id="idExists" resultType="java.lang.Integer">
    SELECT 1
    FROM t_module
    WHERE id = #{id,jdbcType=BIGINT}
    limit 1
  </select>

  <delete id="deleteById">
    delete
    from t_module
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateNonNullFieldsById">
    update t_module
    <set>
      <if test="moduleCode != null">
        module_code = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="accessType != null">
        access_type = #{accessType,jdbcType=VARCHAR},
      </if>
      <if test="showType != null">
        show_type = #{showType,jdbcType=VARCHAR},
      </if>
      <if test="responseToType != null">
        response_to_type = #{responseToType,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryByModuleCode" resultMap="tModuleRm">
    select
    <include refid="allFields"/>
    from t_module
    where module_code = #{moduleCode,jdbcType=VARCHAR}
  </select>

  <select id="queryByNonNullFields" resultMap="tModuleRm">
    select
    <include refid="allFields"/>
    from t_module
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="moduleCode != null">
        and module_code = #{moduleCode,jdbcType=VARCHAR}
      </if>
      <if test="moduleName != null">
        and module_name like concat('%', #{moduleName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="accessType != null">
        and access_type = #{accessType,jdbcType=VARCHAR}
      </if>
      <if test="showType != null">
        and show_type = #{showType,jdbcType=VARCHAR}
      </if>
      <if test="responseToType != null">
        and response_to_type = #{responseToType,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and parent_id = #{parentId,jdbcType=BIGINT}
      </if>
      <if test="action != null">
        and action = #{action,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>