<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.addenda.fp.rbac.mapper.RoleMapper">
  <resultMap id="tRoleRm" type="cn.addenda.fp.rbac.pojo.entity.Role">
    <id property="id" column="id"/>
  </resultMap>

  <sql id="allFields">
    id, role_code, role_name, status
  </sql>

  <insert id="insert">
    insert into t_role
    set id = #{id,jdbcType=BIGINT},
    role_code = #{roleCode,jdbcType=VARCHAR},
    role_name = #{roleName,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR}
  </insert>

  <select id="roleCodeExists" resultType="java.lang.Integer">
    SELECT 1
    FROM t_role
    WHERE role_code = #{roleCode,jdbcType=VARCHAR}
    limit 1
  </select>

  <select id="idExists" resultType="java.lang.Integer">
    SELECT 1
    FROM t_role
    WHERE id = #{id,jdbcType=BIGINT}
    limit 1
  </select>

  <delete id="deleteById">
    delete
    from t_role
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <update id="updateNonNullFieldsById">
    update t_role
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryByRoleCode" resultMap="tRoleRm">
    select
    <include refid="allFields"/>
    from t_role
    where role_code = #{roleCode,jdbcType=VARCHAR}
  </select>

  <select id="queryByNonNullFields" resultMap="tRoleRm">
    select
    <include refid="allFields"/>
    from t_role
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="roleCode != null">
        and role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="roleName != null">
        and role_name like concat('%', #{roleName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>